output
slurm-*.out
*.bin
**/tmp/*
*/data/*/input.txt
**/data/MNIST/**
**/.ipynb*/**
**/__pycache__/**
**/out/**
**/outputs/**
**/output/**	
**/in/**
**/inputs/**
**/input/**
**.egg-info*
**out_infer**
qtransform/conf/conf.json
build/
dist/
*.onnx
**/*_epoch*
**/log.txt
#python virtual environment
qtransform/eki
#comments, todos, current project status etc.
todos.md
#logs
**/*logs*.toml
**/*.npy
#wandb
**/*.wandb*
wandb_downloads

**/output/**

.idea