*.bin
*/data/*/input.txt
**/data/MNIST/**
**/.ipynb*/**
**/__pycache__/**
**/out/**
**/outputs/**
**/output/**	
**/in/**
**/inputs/**
**/input/**
**.egg-info*
qtransform/conf/conf.json
build/
dist/
*.onnx