colorlog
tzdata
datasets==2.14.*
torch 
hydra-core
setuptools_rust
tiktoken
tensorboard
git+https://github.com/fhswf/brevitas.git@fhswf-dev
torchvision
typing_inspect
qonnx
python-dateutil
aiohttp
pyyaml
protobuf==3.20.3